/* PrimeNG Table Golden Beit Theme */
:host ::ng-deep .p-datatable {
  border-radius: 0.5rem;
  overflow: hidden;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #0D5A4B;
  color: white;
  font-weight: 600;
  padding: 1rem;
  border: none;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  transition: background-color 0.2s;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: rgba(226, 180, 58, 0.1);
}

:host ::ng-deep .p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background-color: rgba(226, 180, 58, 0.05);
}

:host ::ng-deep .p-datatable-striped .p-datatable-tbody > tr:nth-child(even):hover {
  background-color: rgba(226, 180, 58, 0.1);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgba(13, 90, 75, 0.1);
}

/* Pagination Golden Beit Theme */
:host ::ng-deep .p-paginator {
  background-color: white;
  border: 1px solid rgba(13, 90, 75, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 0.375rem;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #E2B43A;
  color: #0A3022;
  border-color: #E2B43A;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background-color: rgba(226, 180, 58, 0.2);
}

:host ::ng-deep .p-paginator .p-paginator-first,
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next,
:host ::ng-deep .p-paginator .p-paginator-last {
  border-radius: 0.375rem;
}

:host ::ng-deep .p-paginator .p-paginator-first:not(.p-disabled):hover,
:host ::ng-deep .p-paginator .p-paginator-prev:not(.p-disabled):hover,
:host ::ng-deep .p-paginator .p-paginator-next:not(.p-disabled):hover,
:host ::ng-deep .p-paginator .p-paginator-last:not(.p-disabled):hover {
  background-color: rgba(226, 180, 58, 0.2);
}

/* Dialog Golden Beit Theme */
:host ::ng-deep .p-dialog .p-dialog-header {
  background-color: #0D5A4B;
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 1.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: white;
  font-weight: 600;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  color: white;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid rgba(13, 90, 75, 0.1);
}

